@model Model.EF.Lesson

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    var cates = (List<Model.EF.CourseCategory>)ViewBag.Cate;
}

@section header{
    Thêm mới bài giảng
}

@section jsFooter{
    <script>
        $(document).ready(function () {
            //$('#btnSelectImage').on('click', function (e) {
            //    e.preventDefault();
            //    var finder = new CKFinder();
            //    finder.selectActionFunction = function (url) {
            //        $('#txtImage').val(url);
            //    };
            //    finder.popup();
            //})

            //var editor = CKEDITOR.replace('txtDes', {
            //    customConfig: '~/Assets/admin/js/plugins/ckeditor/config.js',
            //});

            $("#comboboxCate").change(function () {
                var cateID = $('#comboboxCate option:selected').val();
                $.ajax({
                    type: 'GET',
                    data: { cateID: cateID },
                    url: "/Admin/Lessons/loadCourse",
                    success: function (result) {
                        var s = '';
                        for (var i = 0; i < result.length; i++) {
                            s += '<option value="' + result[i].ID + '">' + result[i].Name + '</option>';
                        }
                        $('#CourseID').html(s);
                    }
                })
            })
        })
    </script>
}

    <form method="post">
        <div class="form-group">
            <h4 class="control-label col-md-2" style="text-align:left">Chủ đề</h4>
            <div>
                <select id="comboboxCate" class="form-control">
                    <option value="-1">Chọn một chủ đề</option>
                    @foreach (var category in cates)
                {
                    <option value="@category.ID">@category.Name</option>
            }
                </select>
            </div>
        </div>
    </form>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" style="text-align:right">Khóa học</label>
            <div class="col-md-10">
                <select id="CourseID" name="CourseID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Mô tả*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" , @id = "txtDes" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.LinkURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LinkURL, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LinkURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

