
@{
    ViewBag.Title = "Các khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var course = (List<Model.EF.Course>)ViewBag.Cou;
}

<div class="container" id="course">
    <div class="row">
        @foreach (var item in course)
        {
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="slider-item">
                    <div class="slider-image">
                        <a href="/khoa-hoc/@item.MetaTitle-@item.ID">
                            <img src="@item.Image" class="img-responsive" alt="a" />
                        </a>
                    </div>
                    <div class="slider-main-detail">
                        <div class="slider-detail">
                            <div class="product-detail">
                                <h4 style="text-align: center; color: #4CAF50;">
                                    @item.Name
                                </h4>
                                <h5><i class="glyphicon glyphicon-book"></i> @item.CountLesson bài giảng</h5>
                                @if (item.Price == 0)
                                {
                                    <h5 style="font-size:200%; color:tomato">Miễn phí</h5>
                                }
                                else
                                {
                                    if (item.PromotonPrice < item.Price)
                                    {
                                        <h5 class="pro-price">@item.PromotonPrice <sup class="x-price">@item.Price</sup></h5>
                                    }
                                    else
                                    {
                                        <h5 class="detail-price">@item.Price</h5>
                                    }
                                }

                            </div>
                        </div>
                        <div class="cart-section">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-6">
                                    <a href="/khoa-hoc/@item.MetaTitle-@item.ID" class="AddCart btn btn-info"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Tham gia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }       

    </div>
</div>

